Repository boostcamp-2020/IssueTracker-14, pull requests merged in 2020-10, with the labels that each got.

#16 프로젝트 초기 설정
  iOS/.gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: PairProgramming, iOS

#18 [BE] Chore: Backend Setting
  server/.env
  server/.eslintrc
  server/.gitignore
  server/app.js
  server/package-lock.json
  server/package.json
  server/routes/index.js
Labels: BE, Chore

#21 SwiftLint 설정 수정, 입력 View UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker/InputView.swift
  iOS/IssueTracker/Podfile.lock
Labels: Feat, PairProgramming, iOS

#24 [FE] Init: 초기 환경 설정
  client/.babelrc
  client/.browserslistrc
  client/.eslintrc
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.css
  client/src/App.jsx
  client/src/index.js
  client/webpack.config.js
Labels: FE

#26 [BE] Feat: Sequelize 설치, DB init
  server/.sequelizerc
  server/db/models/index.js
  server/package-lock.json
  server/package.json
Labels: BE, Feat

#27 로그인 화면 UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Common/View/InputView.swift
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/Podfile.lock
Labels: Feat, PairProgramming, iOS

#28 회원가입 화면 UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/SignUpViewController.swift
Labels: Feat, PairProgramming, iOS

#30 [BE] Feat: DB Model Create & Migration
  server/config/config.js
  server/db/migrations/20201028092424-create-user.js
  server/db/migrations/20201028092735-create-issue.js
  server/db/migrations/20201028092811-create-comment.js
  server/db/migrations/20201028092945-create-milestone.js
  server/db/migrations/20201028093014-create-label.js
  server/db/migrations/20201028093352-create-assignee.js
  server/db/migrations/20201028093404-create-label-has-issue.js
  server/db/migrations/20201028093724-set_associations.js
  server/db/models/assignee.js
  server/db/models/comment.js
  server/db/models/index.js
  server/db/models/issue.js
  server/db/models/label.js
  server/db/models/label_has_issue.js
  server/db/models/milestone.js
  server/db/models/user.js
Labels: BE, DB, Feat

#32 Network Layer 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkRequest.swift
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkService.swift
  iOS/IssueTracker/IssueTracker/LoginScene/Controller/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Controller/SignUpViewController.swift
Labels: Feat, PairProgramming, iOS

#34 회원가입 화면 닉네임 입력 UI 추가
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Common/View/InputView.swift
Labels: Feat, PairProgramming, iOS

#43 회원가입 입력 로직 확인 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isEmailPattern.swift
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isNickNamePattern.swift
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isPasswordPattern.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/PatternChecker.swift
Labels: Feat, iOS

#42 회원가입 기능 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkRequest.swift
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkService.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpInfo.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpUseCase.swift
Labels: Feat, iOS

#44 Model 폴더 충돌 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
Labels: Chore, PairProgramming, iOS

#47 회원가입 기능 테스트
  .DS_Store
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/SignUpUseCaseTests/Info.plist
  iOS/IssueTracker/SignUpUseCaseTests/SignUpUseCaseTests.swift
Labels: PairProgramming, Test, iOS

#48 회원가입 입력값 로직 테스트
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isNickNamePattern.swift
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isPasswordPattern.swift
  iOS/IssueTracker/PatternCheckerTests/Info.plist
  iOS/IssueTracker/PatternCheckerTests/PatternCheckerTests.swift
Labels: PairProgramming, Test, bug, iOS

#49 테스트 코드 SwiftLint 룰 적용
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
Labels: Chore, iOS

#52 [BE] Fix: 배포환경에서의 github callback URL 추가
  server/middlewares/passportConfig.js
Labels: BE, Fix

#54 [Week1] iOS -> Dev
  .DS_Store
  iOS/.gitignore
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  iOS/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isEmailPattern.swift
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isNickNamePattern.swift
  iOS/IssueTracker/IssueTracker/Common/Extention/String+isPasswordPattern.swift
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkRequest.swift
  iOS/IssueTracker/IssueTracker/Common/Model/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Common/View/InputView.swift
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/LoginScene/Controller/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Controller/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/PatternChecker.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpInfo.swift
  iOS/IssueTracker/IssueTracker/SignUpScene/Model/SignUpUseCase.swift
  iOS/IssueTracker/PatternCheckerTests/Info.plist
  iOS/IssueTracker/PatternCheckerTests/PatternCheckerTests.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
  iOS/IssueTracker/SignUpUseCaseTests/Info.plist
  iOS/IssueTracker/SignUpUseCaseTests/SignUpUseCaseTests.swift
Labels: Merge

#55 [Week1] Frontend -> Dev
  client/.babelrc
  client/.browserslistrc
  client/.eslintrc
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.css
  client/src/App.jsx
  client/src/index.js
  client/webpack.config.js
Labels: Merge
